<div class="input-container">
    <input type="text" id="nome" placeholder="Nome">
    <input type="email" id="email" placeholder="Email">
    <input type="tel" id="cell" placeholder="Telefone">
</div>
<div class="checkbox">
    <div class="notificacao">
        <input type="checkbox" id="notify" checked="true"><label for="notify">Quero receber notificações</label>
    </div>
    <div class="terms">
        <input type="checkbox" id="terms"><label for="terms">Li e aceito os termos de uso</label>
    </div>
</div>
<div class="cadastro">
    <button>
        Finalizar Cadastro
    </button>
</div>
