.bar {
    width: 95%;
    max-width: auto;
    height: 40px;
    background: #F1F3F4 0% 0% no-repeat padding-box;
    border: 1px solid #00000035;
    border-radius: 4px;
    margin: 10px 15px;
    opacity: 1;
  }

  input {
    color: #000000A3;
    opacity: 1;
    font-weight: bolder;
    padding-left: 1em;
  }
