.menu{
  display: grid;
  background-color: white;
  position: relative;
  grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
  border-radius: 15px;
  width: 20%;
  grid-gap: 20px 40px;
}

.cards{
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
  box-shadow: 0 0 15px var(--lightBlack);
  margin: 0 20px;
  padding: 10px;
}

.cards img{
  padding: 20px;
  position: relative;
  width: 20%;
}
