img{
  padding: 9px;
  width: 100%;
  max-width: 140px;
}

button {
  background: #1E1E1E 0% 0% no-repeat padding-box;
  color: #FFFFFF;
  border-radius: 4px;
  width: 100%;
  height: 32px;
  border: none;
  cursor: pointer;
}

.details-container {
  display: flex;
  flex-direction: column;
}

.title {
  color: #00000099;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.genre {
  margin-top: 9px;
}
